  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Facture du mois</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body border border-secondary">
      	<!-- Bloc en-tête info -->
        <div class="d-flex justify-content-between">
        	<!-- Bloc info des parents -->
        	<div class="container">
			  	<div class="row">
			    	<div class="col">
			    		{{ parent.last_name|capfirst}}
			    	</div>
				</div>
				<div class="row">
			    	<div class="col">
			    		{{parent.first_name|capfirst}}
			    	</div>
				</div>
			</div>

			<!-- Bloc info de la Garderie -->
			<div class="container">
		  	<div class="row">
		    	<div class="col">
		    		{{settings.name}}
		    	</div>
				</div>
				<div class="row">
		    	<div class="col">
		    		{{settings.address}}
		    	</div>
				</div>
				<div class="row">
		    	<div class="col">
		    	{{ settings.invoice_message}}
					</div>
				</div>
	    </div>
		</div>			
				
      <div class="container">
        <table id="modal_facture" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Date</th>
							<th>Enfant</th>
							<th>Heure</th>
							<th>Montant</th>
						</tr>
					</thead>
				{% for bill in bills.0 %}
					{% for schedule in bill.schedule_set.all %}
					<tbody>
						<tr>
							<td>{{schedule.arrival|date:'d/m'}}</td>
							<td>{{schedule.child|title}}</td>
							<td>{{schedule.rounded_arrival|date:'H:i'}} à {{schedule.rounded_departure|date:'H:i'}}</td>
							<td>{{schedule.calc_amount}}€</td>
						</tr>

					{% endfor %}
					</tbody>
				{% endfor %}
					<tfoot>
						<tr>
							<th colspan="3">Total :</th>
							<th>{{bills.1}}€</th>
						</tr>
					</tfoot>
				</table>
			</div>

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-outline-danger button-download-PDF"><i class="far fa-file-pdf"></i> Télécharger en PDF</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(() => {
	$('.button-download-PDF').click(() => {
		htmlToPdf("#modal_facture");
	})

});
</script>
