<table id="bill_tab" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Parent</th>
			<th>Enfant</th>
			<th>Date</th>
			<th>Montant</th>
			<th>Détails</th>
		</tr>
	</thead>
	{% for bill in bills_list %}
	<tr>
		<td>
			<a href="{% url 'parent_profile' bill.child.parent.uid_id %}">{{ bill.child.parent.get_full_name }}</a>
		</td>
		<td>
			<a href="{% url 'child_profile' bill.child.id %}">{{ bill.child.first_name }}</a>
		</td>
		<td> 
			{{bill.month | stringformat:'02d'}}/{{ bill.year}}
		</td>
		<td>
			{{ bill.amount | floatformat:'2'}}€
		</td>
		<td> 
<button data-bid="{{bill.id}}" class="btn btn-secondary btn-sm button_detail"><i class="fas fa-info-circle"></i> Détail</button>
	</tr>
	{% endfor %}
</table>
