{% extends 'garderie/base.html' %}

{% block title %}Administration du site {% endblock %}

{% block body %}

<div class="container justify-content-around">
 <div class="row pt-3">
  <div class="col text-center">
  	<ul class="list-group">
  		<li class="list-group-item list-group-item-primary"> Parents <i class="fas fa-user"></i></li>
		<li class="list-group-item">
			<a href="{% url 'parent_list' %}">
				<button class="btn btn-outline-secondary">
					Liste des parents
				</button>
			</a>
		</li>
		<li class="list-group-item">
			<a href="{% url 'add_parent' %}">
				<button class="btn btn-outline-secondary">
					Ajouter un parent
				</button>
			</a>
		</li>
	</ul>
  </div>

  <div class="col text-center">
  	<ul class="list-group">
  		<li class="list-group-item list-group-item-success"> Enfants <i class="fas fa-child"></i></li>
		<li class="list-group-item">
			<a href="{% url 'children_list' %}">
				<button class="btn btn-outline-secondary">
					Liste des enfants
				</button>
			</a>
		</li>
		<li class="list-group-item">
			<a href="{% url 'add_child' %}">
				<button class="btn btn-outline-secondary">
					Ajouter un enfant
				</button>
			</a>
		</li>
	</ul>
  </div>
 </div>

 <div class="row pt-3">

<div class="col text-center">
  	<ul class="list-group">
  		<li class="list-group-item list-group-item-secondary"> Factures <i class="fas fa-file-invoice"></i></li>
		<li class="list-group-item">
			<a href="{% url 'bills_list' %}">
				<button class="btn btn-outline-secondary">
					Liste des factures
				</button>
			</a>
		</li>
		<li class="list-group-item">
			<a href="{% url 'hourly_rate_form' %}">
				<button class="btn btn-outline-secondary">
					Modifier le taux horaire
				</button>
			</a>
		</li>
	</ul>
  </div>

  <div class="col text-center">
  	<ul class="list-group">
  		<li class="list-group-item list-group-item-danger"> Admin <i class="fas fa-tools"></i></li>
		<li class="list-group-item">
			<a href="#">
				<button class="btn btn-outline-secondary">
					Modifier les informations
				</button>
			</a>
		</li>
		<li class="list-group-item">
			<a href="{% url 'add_staff' %}">
				<button class="btn btn-outline-secondary">
					Ajouter un employé
				</button>
			</a>
		</li>
		<li class="list-group-item">
			<a href="{% url 'staff_list' %}">
				<button class="btn btn-outline-secondary">
					Voir les employés
				</button>
			</a>
		</li>
		<li class="list-group-item">
			<a href="{% url 'password_reset_form' %}">
				<button class="btn btn-outline-secondary">
					Réinitialiser un mot de passe
				</button>
			</a>
		</li>
	</ul>
  </div>
</div>

</div>

{% endblock %}
