{% extends 'garderie/base.html' %}

{% block title %}Administration du site {% endblock %}

{% block body %}

<button><a href="{% url 'parent_list' %}">Liste des parents</a></button> 
<button><a href="{% url 'children_list' %}">Liste des enfants</a></button> 
<button><a href="{% url 'add_parent' %}">Ajouter un parent</a></button> 
<button><a href="{% url 'add_child' %}">Ajouter un enfant</a></button> 
<button><a href="{% url 'parent_list' %}">Liste des factures</a></button> 
<button><a href="{% url 'hourly_rate_form' %}">Modifier le taux horaire</a></button> 

{% endblock %}
