{% extends 'garderie/base.html' %}


{% block title %}Liste des factures{% endblock %}

{% load static %}

{% block scripts %}
<script>

	let csrf='{{ csrf_token}}';
	let url_get_bill_modal='{% url 'ajax_show_bill_modal' %}';
	let url_swap_bills_display='{% url 'ajax_swap_bills_display' %}';

</script>

<script src="{% static '/garderie/js/bills_list.js/' %}"></script>

{% endblock %}

{% block body %}
<div class="container pt-1">
<span>Afficher les factures de :</span>

<input id="swap_bills_input" type="month">
<button id="swap_bills_display">Voir</button>
<button id="show_bills_recap">Afficher un récapitulatif du mois</button>
</div>

<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
</div>

<div id="table_container" class="container pt-3">
	{% if user.is_authenticated %}
		{% include 'garderie/include/bills_table.html' with bills_list=bills_list %}
	{% else %}
		<p>Connectez-vous pour voir les factures</p>
	{% endif %}
</div>

x{% endblock %}
