{% extends 'garderie/base.html' %}

{% block title %}Liste des factures{% endblock %}

{% block scripts %}
<script type="text/javascript">

	var data_tab = $('#bill_tab').DataTable({
			    		"ordering": true,
			    		paging: false,
			    		"order": [[ 0, "asc" ]],
			    		"language": {
						    "emptyTable": "Aucune facture dans la base de donnée",
						    "search":         "Rechercher :",
						    "info":           "Données de _START_ à _END_ sur _TOTAL_ entrées",
    						"infoEmpty":      "Données 0 à 0 sur 0 entrée"
						}
		    		});

	$(document).ready( function () { data_tab } );

</script>
{% endblock %}

{% block body %}
<div class="container pt-3">
	{% if user.is_authenticated %}
	<table id="bill_tab" class="table table-striped table-bordered">
		<thead>
			<th>Parent</th>
			<th>Enfant</th>
			<th>Date</th>
			<th>Montant</th>
		</thead>
		{% for bill in bills_list %}
		<tr>
			<td>
				<a href="{% url 'parent_profile' bill.child.parent.uid_id %}">{{ bill.child.parent.fullname }}</a>
			</td>
			<td>
				<a href="{% url 'child_profile' bill.child.id %}">{{ bill.child.first_name }}</a>
			</td>
			<td> 
				{{bill.month | stringformat:'02d'}}/{{ bill.year}}
			</td>
			<td>
				{{ bill.amount | floatformat:'2'}}€
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
		<p>Connectez-vous pour voir les factures</p>
	{% endif %}
</div>
{% endblock %}
