{% extends 'garderie/base.html' %}


{% block title %}Liste des factures{% endblock %}

{% load static %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.0/jspdf.umd.min.js"></script>
<script src="{% static 'garderie/js/html2canvas.min.js' %}"></script>
<script>

	let csrf='{{ csrf_token}}';
	let url_get_bill_modal='{% url 'ajax_show_bill_modal' %}';
	let url_swap_bills_display='{% url 'ajax_swap_bills_display' %}';


    function demoFromHTML() {

        let pdf = new jspdf.jsPDF('p', 'pt', 'letter');
        // source can be HTML-formatted string, or a reference
        // to an actual DOM element from which the text will be scraped.
        source = $('.download-as-PDF')[0];

        // we support special element handlers. Register them with jQuery-style 
        // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
        // There is no support for any other type of selectors 
        // (class, of compound) at this time.
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 522
        };
        pdf.html(
            source, 
            margins.left,
            {
            
		          callback: function(pdf) {
		          	pdf.save();
		          }
	          });
    }

</script>

<script src="{% static '/garderie/js/bills_list.js/' %}"></script>

{% endblock %}

{% block body %}
<div class="container pt-1">
<span>Afficher les factures de :</span>

<input id="swap_bills_input" type="month">
<button id="swap_bills_display">Voir</button>
<button id="show_bills_recap">Afficher un récapitulatif du mois</button>
</div>

<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
</div>

<div id="table_container" class="container pt-3">
	{% if user.is_authenticated %}
		{% include 'garderie/include/bills_table.html' with bills_list=bills_list %}
	{% else %}
		<p>Connectez-vous pour voir les factures</p>
	{% endif %}
</div>

x{% endblock %}
