{% extends 'garderie/base.html' %}
{% block title %}Profil de {{ child.first_name}} {{child.last_name}}{% endblock %}

{% block body %} 

<h1>{{ child.fullname}}</h1>
<p>Responsable : <a href="{% url 'parent_profile' child.parent.uid_id %}">  {{child.parent.fullname}}</a> </p>
	<h2>Informations personnelles</2>
	<form action="{% url 'child_update' child.id  %}" method="post">
		{% csrf_token %}
		<table>
		{{ personal_data_form.as_table }}
		</table>

		<input type="submit" value="Valider">
	</form>
	
	
	
<p>Heures de présence prévues :</p>
<ul>
{% for schedule in child.schedule_set.all %}
	{% if user.is_authenticated and user.id == child.parent.uid_id or user.is_superuser %}
		{% if schedule.expected %}
			<li>
				<form method="POST" action="{% url 'schedule_delete' child.id schedule.id  %}?next={{request.path}}">
					{% csrf_token %}
					<input type="submit" value="x"> {{schedule.arrival}} -- {{schedule.departure}}
				</form>
			</li>
		{% endif %}
	{% endif %}
{% endfor %}
</ul>

<p>Heures de présence récentes :</p>
<ul>
{% for schedule in child.schedule_set.recent_schedules %}
	{% if user.is_authenticated and user.id == child.parent.uid_id or user.is_superuser %}
		{% if not schedule.expected %}
			<li>
				<form method="POST" action="{% url 'schedule_delete' child.id schedule.id  %}?next={{request.path}}">
					{% csrf_token %}
					<input type="submit" value="x"> {{schedule.arrival}} -- {{schedule.departure}}
				</form>
			</li>
		{% endif %}
	{% endif %}
{% endfor %}
</ul>





{% if user.is_authenticated and user.id == child.parent.uid_id or user.is_superuser %}
	<h3>Inscrire {{child.first_name}} à une nouvelle plage horaire</h3>
	{% include 'garderie/forms/embedded_form.html' with action=action form=schedule_form %}
{% endif %}

{% endblock %}
