{% extends 'garderie/base.html' %}
{% block title %}Profil de {{ child.first_name}} {{child.last_name}}{% endblock %}
{% load static %}
{% block scripts %}
<script type="text/javascript">

	let data_tab = $('#enfant_profile_presence_tab').DataTable({
			    		"ordering": true,
			    		paging: false,
			    		"order": [[ 1, "asc" ]],
			    		"searching": false,
			    		"columnDefs": [
						    { "width": "10%", "targets": 0 },
						    { className: 'text-center', targets: "_all" }
						  ],
						  "language": {
						    "emptyTable": "Aucune heure de présence n'est enregistrée",
						    "search":         "Rechercher :",
						    "info":           "Données de _START_ à _END_ sur _TOTAL_ entrées",
    						"infoEmpty":      "Données 0 à 0 sur 0 entrée"
						}
		    		});

	let data_tab1 = $('#enfant_profile_recent_tab').DataTable({
			    		"ordering": true,
			    		paging: false,
			    		"order": [[ 1, "asc" ]],
			    		"searching": false,
			    		"language": {
						    "emptyTable": "Aucune heure récente n'est enregistrée",
						    "search":         "Rechercher :",
						    "info":           "Données de _START_ à _END_ sur _TOTAL_ entrées",
    						"infoEmpty":      "Données 0 à 0 sur 0 entrée"
						},
						"columnDefs": [
						   { className: 'text-center', targets: "_all" }
						  ],
		    		});

	let csrf='{{csrf_token}}';
	let url_get_form_modal='{% url 'ajax_show_schedule_form_modal'%}';

</script>
<script src="{% static '/garderie/js/child_profile.js/' %}"></script>
{% endblock %}

{% block body %} 
<div class="d-flex justify-content-center pt-3">
 <div class="bg-light p-4 border border-secondary rounded">

<h1>{{ child.get_full_name}}</h1>
<p>Parents : <br/>
	<a href="{% url 'parent_profile' child.parent.uid_id %}">  {{child.parent.get_full_name}}</a><br/>
	{% if child.second_parent %}
	<a href="{% url 'parent_profile' child.second_parent.uid_id %}">  {{child.second_parent.get_full_name}}</a>
	{% endif %}
</p>

<div class="pt-1">
	<h2>Informations personnelles</h2>
	<form action="{% url 'child_update' child.id  %}" method="post">
		<table>
		{{ personal_data_form.as_table }}
		</table>
{% if user.is_authenticated and user in child.parents or user.is_superuser %}
		{% csrf_token %}
		<div class="pt-3">
		<button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Valider</button>
	</div>
{% endif %}
	</form>
</div>
	
<div class="pt-3">
	<h4>Heures de présence prévues :</h4>
{% if child.expectedpresence_set %}
	<div>
		<table id="enfant_profile_presence_tab" class="table table-striped table-bordered">
			<thead>
				<th> Options </th>
				<th> Jour </th>
				<th> Période </th>
			</thead>
		{% for presence in child.expectedpresence_set.all %}
			{% if user.is_authenticated and user in child.parents or user.is_superuser %}
				<tr>
						<td>
					<form method="POST" action="{% url 'presence_delete' child.id presence.id  %}?next={{request.path}}">
						{% csrf_token %}
							<input type="submit" value="x" class="btn btn-danger btn-sm">
					</form>
						</td>
						<td> {{presence.get_day_display}} </td>
						<td> {{presence.get_period_display}} </td>
				</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
	{% else %}
		<p><i>Aucune plage horaire n'a été crée pour {{child.first_name}}.<br/> 
		Créez un horaire d'accueil via le formulaire en bas de page.</i></p>
	{% endif %}
</div>

<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
</div>



<div class="pt-3">
<h4>Heures de présence récentes :</h4>
{% if child.recent_schedules %}
<div>
	<table id="enfant_profile_recent_tab" class="table table-striped">
	<thead>
		{% if user.is_superuser %}	
			<th> Options </th>
		{% endif %}
		<th> Heure d'arrivée </th>
		<th> Heure de départ </th>
	</thead>
		{% for schedule in child.recent_schedules %}
			{% if user.is_authenticated and user in child.parents or user.is_superuser %}
				{% if not schedule.expected %}
					<tr>
						{% if user.is_superuser %}
							<td>
								<div class="container">
									<div class="row">
										<form method="POST" action="{% url 'schedule_delete' child.id schedule.id  %}?next={{request.path}}">
											{% csrf_token %}
												<input type="submit" value="x" class="btn btn-danger btn-sm">
										</form>
										<div class="pl-2">
											<button data-cid='{{child.id}}' data-sid="{{schedule.id}}" class="btn btn-secondary btn-sm button_modal"><i class="fas fa-edit"></i> Editer</button>
										</div>
									</div>
								</div>
							</td>
						{% endif %}
							<td> {{schedule.rounded_arrival|date:'d/m H:i'}} </td>
							<td> {{schedule.rounded_departure|date:'d/m H:i'}} </td>
					</tr>
				{% endif %}
			{% endif %}
		{% endfor %}

	</table>
</div>
{% else %}
	<p></i>{{child.first_name}} n'a encore jamais été à la garderie.</p></i>
{% endif %}
</div>



<div class="pt-3">

{% if user.is_authenticated and user in child.parents or user.is_superuser %}
	<h3>Inscrire {{child.first_name}} à une nouvelle plage horaire</h3>
	{% include 'garderie/forms/embedded_form.html' with action=action form=schedule_form %}
{% endif %}

</div>

</div>
</div>



{% endblock %}
