{% extends 'garderie/base.html' %}

{% block title %}Liste des enfants{% endblock %}

{% block body %}

	<table>
		<tr>
			<th>Enfant</th>
			<th colspan=2>Horaires de présence</th>
		</tr>
		{% for child in children_list %}
		<tr>
			<td><a href="{% url 'child_profile' child.id %}">{{child.surname}} {{child.name}}</a></td> 
			{% for schedule in child.schedule_set.all %} 
				<td>{{schedule.arrival |date:"D G:i"}} - {{schedule.departure |date:"G:i"}}</td>
			{% endfor %}
			<td> 
				<form method="POST" action="{% url 'child_delete' child.id  %}">
   				{% csrf_token %}<input type="submit" value="SUPPRIMER">
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
