{% extends 'garderie/base.html' %}

{% block title %}Liste des enfants{% endblock %}

{% load static %}
{% block scripts %}
<script src="{% static '/garderie/js/child_list.js/' %}"></script>
<script type="text/javascript">


	var csrf="{{csrf_token}}";
	var url_in="{% url 'ajax_arrival' %}";
	var url_out="{% url 'ajax_departure' %}";
	var url_update_departure="{% url 'ajax_edit_departure' %}";
	var url_update_arrival="{% url 'ajax_edit_arrival' %}";
	var url_remove_arrival="{% url 'ajax_remove_arrival' %}";

	var data_tab1 = $('#table1').DataTable({
			    		"ordering": true,
			    		paging: false,
			    		"order": [[ 1, "asc" ]],
			    		"columnDefs": [
			    			{ className: "in_arrival", "targets":[2] },
			    			{ className: "in_departure", "targets":[3]}
			    		]
		    		});

	var data_tab2 = $('#table2').DataTable({
			    		"ordering": true,
			    		paging: false,
			    		"order": [[ 0, "asc" ]]
			    	});


</script>

{% endblock %}
{% block body %}

<div class="container">
	<h1>Liste des enfants présents</h1>
	<table id="table1" class="display">
		<thead>
			<tr>
				<th>Options</th>
				<th>Enfant</th>
				<th>Arrivée</th>
				<th>Départ</th>
			</tr>
		</thead>
		<tbody>
			{% for schedule in children_list.current_schedules %}
				{% with child=schedule.child %}

					<tr class="child_in" data-cid="{{child.id}}" data-sid="{{schedule.id}}" >
						<td> <button class="btn btn-danger btn-sm" onclick="removeArrival({{ schedule.id }})">x</button>
						</td>
						<td>
							<a href="{% url 'child_profile' child.id %}">
									{{child.first_name}}
							</a>
						</td> 
						<td>
							<input type="time"class="input_arrival" required value="{{schedule.arrival |default_if_none:''|date:"G:i"}}"></input>
						</td>
						<td></td>
					</tr>
				{% endwith %}
			{% endfor %}
		</tbody>
	</table>

	<h1>Liste des enfants</h1>
	<table id="table2" class="display">
		<thead>
			<tr>
				<th>Enfant</th>
				<th>Prochain horaire de présence</th>
				{% if user.is_superuser %}
					<th>Options</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for child in children_list.all_children %}
			<tr class="child_out" data-cid="{{child.id}}" style="cursor: pointer;">
				<td>
					<a href="{% url 'child_profile' child.id %}">
							{{child.fullname}}
					</a>
				</td> 
				<td>
					{% with presence=child.next_presence %}
						{{ presence.0|date:'l d/m'|default_if_none:''}}
						{% if presence.1 %}
							{{ presence.1.get_period_display|lower }}
						{% endif %}
					{% endwith %}
				</td>				
				{% if user.is_superuser %}
					<td> 
						<form method="POST" action="{% url 'child_delete' child.id  %}">
			 				{% csrf_token %}
				 				<input type="submit" value="X" class="btn btn-danger btn-sm">
							</form>
					</td> 
					{% endif %}				
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}


