{% extends 'garderie/base.html' %}
{% block title %}Profil de {{ parent.uid.first_name }} {{parent.uid.last_name}}{% endblock %}
{% block body %} 
<h1>{{ parent.uid.first_name }} {{parent.uid.last_name}}</h1>
<p>Enfants :</p>
<ul>
{% for child in parent.child_set.all %}
	<li>{{child.first_name}} {{child.last_name}}</li>
{% endfor %}
</ul>

{% if user.is_authenticated %}
	{% if user.id == parent.uid_id %}
		<form action="{% url 'parent_create_child' parent.uid_id  %}" method="post">
		{% csrf_token %}
		<table>
		{{ form.as_table }}
		</table>

		<input type="submit" value="Submit">
		</form>
	{% endif %}
{% endif %}


{% endblock %}
