{% extends 'garderie/base.html' %}
{% block title %}Profil de {{ parent.uid.first_name }} {{parent.uid.last_name}}{% endblock %}

{% block scripts %}
<script type="text/javascript">

	var data_tab = $('#parent_profile_enfant_tab').DataTable({
			    		"ordering": true,
			    		paging: false,
			    		"order": [[ 0, "asc" ]],
			    		"searching": false,
			    		"columnDefs": [
						    { "width": "80%", "targets": 0 },
						    { className: 'text-center', targets: "_all" }
						  ],
						  "language": {
						    "emptyTable": "Aucun enfant n'est enregistré",
						    "search":         "Rechercher :",
						    "info":           "",
    						"infoEmpty":      ""
						}
		    		});

	var data_tab_fac = $('#parent_profile_confiance_tab').DataTable({
			    		"ordering": true,
			    		paging: false,
			    		"order": [[ 0, "asc" ]],
			    		"searching": false,
			    		"columnDefs": [
						    { "width": "80%", "targets": 0 },
						    { className: 'text-center', targets: "_all" }
						  ],
						  "language": {
						    "emptyTable": "Aucune personne de confiance n'est enregistrée",
						    "search":         "Rechercher :",
						    "info":           "",
    						"infoEmpty":      ""
						}		    		
		    		});

	var data_tab_conf = $('#parent_profile_facture_tab').DataTable({
			    		"ordering": true,
			    		paging: false,
			    		"order": [[ 0, "asc" ]],
			    		"searching": false,
			    		"language": {
						    "emptyTable": "Aucune facture n'est enregistrée",
						    "search":         "Rechercher :",
						    "info":           "Données de _START_ à _END_ sur _TOTAL_ entrées",
    						"infoEmpty":      "Données 0 à 0 sur 0 entrée"
						}
		    		});


</script>
{% endblock %}

{% block body %} 
{% if user.is_authenticated and user.id == parent.uid_id or user.is_superuser %}
<div class="d-flex justify-content-center pt-3">
 <div class="bg-light p-4 border border-secondary rounded">
	<h1>{{ parent.get_full_name}}</h1>
	<h2>Informations personnelles</h2>
	{% include 'garderie/forms/embedded_form.html' with action=personal_data_action form=personal_data_form %}


{% comment %}
	<form action="" method="post" class="pt-3">
		{% csrf_token %}
		<table>
		{{ personal_data_form.as_table }}
		</table>
		<div class="pt-3">
		<button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Valider</button>
	</div>
	</form>
{% endcomment %}





<div class="pt-3">
	<h2>Enfants inscrits</h2>
	<table id="parent_profile_enfant_tab" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Enfant</th>
				<th> Options </th>
			</tr>
		</thead>
		<tbody>
	{% for child in parent.all_children %}
		<tr>
			<td>
				<a href={% url 'child_profile' child.id %}>
					{{child.get_full_name}}
				</a> 
			</td>
			<td>
				<form method="POST" action="{% url 'child_delete' child.id  %}?next={{request.path}}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer '+ '{{child.get_full_name}}' + ' ?');">
	 				{% csrf_token %}
	 				<input type="submit" value="X" class="btn btn-danger btn-sm">
				</form>
			</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>

<div class="pt-3">
	<h2>Personnes de confiance</h2>
	<table id="parent_profile_confiance_tab" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Enfant</th>
				<th>Personne</th>
				<th>Options</th>
			</tr>
		</thead>
		
	{% for child in parent.all_children %}
		{% for person in child.reliableperson_set.all %}
			<tr>
				<td>{{child.first_name}}</td>
				<td>{{person.get_full_name}}</td>
				<td>
				<form method="POST" action="{% url 'reliable_person_delete' person.id %}?next={{request.path}}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer '+ '{{person.get_full_name}}' + ' ?');">
		 				{% csrf_token %}
		 				<input type="submit" value="X" class="btn btn-danger btn-sm">
					</form>
				</td>
			</tr>
		{% endfor %}
	{% endfor %}
	</table>
</div>
<div class="pt-3">
	<h2>Facture du mois par enfant</h2>
	<table id="parent_profile_facture_tab" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Facture du mois par enfant</th>
				<th>Mois</th>
				<th>Montant</th>
			</tr>
		</thead>
		<tbody>
		{% for child in parent.all_children %}
			
			{% with bill=child.last_bill %}
			{% if bill %}
			<tr>
				<td>
						{{child.get_full_name}}
				</td>
				<td>
					{{bill.month|stringformat:'02d'}}/{{bill.year}}
				</td>
				<td>
					{{bill.amount}}€
				</td>
			</tr>
			{% endif %}
			{% endwith %}
			
		{% endfor %}
	</tbody>
	</table>
	<button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#factureModal"><i class="fas fa-info-circle"></i> Détail</button>

</div>

	{% if user.id == parent.uid_id %}
		<div class="pt-3">
			<h3>Inscrire un enfant</h3>
			{% include 'garderie/forms/embedded_form.html' with action=new_child_action form=new_child_form %}
		</div>
			
		<div class="pt-3">
			<h3>Ajouter une personne de confiance</h3>
			{% include 'garderie/forms/embedded_form.html' with action=new_reliable_action form=new_reliable_form %}
		</div>
	{% endif %}
{% endif %}
</div>
</div>

<!-- Modal -->
{% include 'garderie/include/parent_bills_modal.html' with parent=parent%}
{% endblock %}
{%}
