{% extends 'garderie/base.html' %}

{% block title %}Liste des employés{% endblock %}

{% block scripts %}
<script type="text/javascript">

	var data_tab = $('#parent_tab').DataTable({
			    		"ordering": true,
			    		paging: false,
			    		"order": [[ 0, "asc" ]],
			    		"language": {
						    "emptyTable": "Aucun employé n'est enregistré",
						    "search":         "Rechercher :",
						    "info":           "Données de _START_ à _END_ sur _TOTAL_ entrées",
    						"infoEmpty":      "Données 0 à 0 sur 0 entrée",
    						"infoFiltered":   "(filtré depuis _MAX_ entrées totales)",
    						"lengthMenu":     "Montre _MENU_ entrées",
						    "loadingRecords": "Chargement...",
						    "processing":     "Execution...",
						    "zeroRecords":    "Aucune correspondance trouvée"
						},
						columnDefs: [
						    { className: 'text-center', targets: "_all" }
						  ],
						"columns": [
						    null,
						    null,
						    { "width": "10%" },
						  ]
		    		});

</script>
{% endblock %}

{% block body %}
<div class="container pt-3">
	{% if user.is_authenticated %}
	<table id="parent_tab" class="display table-bordered">
		<thead>
			<th>Employé</th>
			<th>Email</th>
			<th>Options</th>
		</thead>
		{% for acc in user_list %}
		<tr>
			<td> {{acc.get_full_name}}</td>
			<td> {{acc.email}}</td>
			<td> 
				<form method="POST" action="{% url 'user_delete' acc.id %}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer '+ '{{ acc.get_full_name }}' + ' ?');">
   				{% csrf_token %}<input class="btn btn-danger btn-sm" type="submit" value="SUPPRIMER">
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
		<p>Connectez-vous pour voir la liste des employés"</p>
	{% endif %}
</div>
{% endblock %}
