{% comment %}
Formulaire de base permettant d'être intégré à une page DetailView.
{% endcomment %}

{% load static %}
{% block scripts %}
	<script src="{% static 'garderie/js/embedded_form.js' %}"></script>
	
{% endblock %}
	<div class="d-flex justify-content-center pt-3">
 <div class="bg-light p-4 border border-secondary rounded">
 
<form class="embedded_form" action="{{ action }}" method="post">
		{% csrf_token %}
	<table>

		{{ form.as_table }}
	</table>	
	<div class="pt-3">
		<button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Valider</button>
	</div>
</form>
</div>
</div>
